*.swp
*~
Thumbs.db
*.o
*.xpi
.DS_Store
*.mo
*.pyc
*.ncb
*.idb
*.pdb
*.project
*.suo
copygif-binary/Release
copygif-binary/Debug
copygif-binary/ipch
copygif-binary/CopyGif.sdf
copygif-binary/CopyGif.opensdf
copygif-binary/CopyGif/Release
copygif-binary/CopyGif/Debug
copygif-binary/CopyGif/CopyGif.vcxproj.user