#mozcn-mobile-bookmarks-button {
  list-style-image: url("chrome://browser/skin/device-phone.svg") !important;
}

/* mostly copyed from chrome://browser/skin/customizableui/panelUI.css */
#PanelUI-MOA-mobileBookmarksView {
  --panel-ui-sync-illustration-height: 91px;
}

.PanelUI-MOA-mobileBookmarks-instruction-title,
.PanelUI-MOA-mobileBookmarks-instruction-label {
  margin-bottom: 15px;
  text-align: center;
  text-shadow: none;
  max-width: 18em; /* 15em */
  color: GrayText;
}

.PanelUI-MOA-mobileBookmarks-instruction-title {
  font-size: 1.3em;
}

.PanelUI-MOA-mobileBookmarks-instruction-box {
  padding-bottom: 30px;
}

#PanelUI-MOA-mobileBookmarks-deck:not([selectedIndex="0"]) > #PanelUI-MOA-mobileBookmarks-bookmarksdisabledpane,
#PanelUI-MOA-mobileBookmarks-deck:not([selectedIndex="1"]) > #PanelUI-MOA-mobileBookmarks-nodevicespane {
  visibility: collapse;
}

.PanelUI-MOA-mobileBookmarks-prefs-button {
  -moz-appearance: none;
  background-color: #0060df;
  color: white !important;
  border-radius: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 8px;
  text-shadow: none;
  min-width: 200px;
}
.PanelUI-MOA-mobileBookmarks-prefs-button:hover,
.PanelUI-MOA-mobileBookmarks-prefs-button:hover:active {
  background-color: #003eaa;
}
.PanelUI-MOA-mobileBookmarks-prefs-button > .toolbarbutton-text {
  /* `display` necessary since Fx 91, see https://bugzil.la/1698883 */
  display: -moz-box;
  text-align: center !important;
  text-shadow: none;
}

.PanelUI-MOA-mobileBookmarks-instruction-box .fxaSyncIllustration {
  list-style-image: url("./sync-illustration.svg");
  margin: 38px 0 15px;
}

#PanelUI-MOA-mobileBookmarksView[mainview] {
  min-width: 22em; /* 19em */
}

#PanelUI-MOA-mobileBookmarksView[mainview] #PanelUI-MOA-mobileBookmarks-setupsync,
#PanelUI-MOA-mobileBookmarksView[mainview] #PanelUI-MOA-mobileBookmarks-reauthsync,
#PanelUI-MOA-mobileBookmarksView[mainview] #PanelUI-MOA-mobileBookmarks-nodevicespane,
#PanelUI-MOA-mobileBookmarksView[mainview] #PanelUI-MOA-mobileBookmarks-bookmarksdisabledpane {
  min-height: calc(var(--panel-ui-sync-illustration-height) +
                   53px + /* margin of .fxaSyncIllustration */
                   30px + /* margin of .PanelUI-remotetabs-prefs-button */
                   16px + /* padding of .PanelUI-remotetabs-prefs-button */
                   15px + /* margin of .PanelUI-remotetabs-instruction-label */
                   30px + /* padding of .PanelUI-remotetabs-instruction-box */
                   11em);
}

#PersonalToolbar #mozcn-mobile-bookmarks-button {
  -moz-box-orient: horizontal; /* necessary for macOS */
}
#PersonalToolbar #mozcn-mobile-bookmarks-button > .toolbarbutton-text {
  display: initial;
}
