#qrcode {
  list-style-image: url("chrome://cmimprove/skin/url2qr_fennec_qrcode.png");
}
#settings {
  list-style-image: url("chrome://cmimprove/skin/url2qr_fennec_install.png");
}

window {
  background-color: #FFFFFF;
}

#step-one {
  width: 178px;
  font-size: 16px;
  margin-left: 23px;
}

#step-two {
  width: 260px;
  margin: 0 0 0 60px;
  font-size: 16px;
}

#qrcode {
  position: relative;
  top: -40px;
  left: 15px;
  height: 200px;
  width: 200px;
}

#settings {
  margin: 0 0 0 80px;
}